{% extends "matching/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <body>
    <div class="conquest">
      <h5><font color="white">{{user.profile.conquests.count}} Conquests </font></h5>
      {% for proposal in proposals %}
          <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ proposal.user.profile.image.url }}">
                  <div class="media-body">

                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ proposal.user.username }}</a>
                    </div>
                    <h2 class="article-title"><a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ proposal.user.profile.name }}</a></h2>
                  </div>

          </article>

      {% endfor %}
    </div>
  </body>
{% endblock content %}
