{% extends "matching/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <body>
    <div class="content-section">
      <h5>{{user.profile.conquests.count}} Conquests </h5>
      {% for proposal in proposals %}
          <article class="media content-section">
            <table>
              <tr>
                <td>
                  <img class="rounded-circle article-img" src="{{ proposal.user.profile.image.url }}">
                </td>
                <td>

                <td>
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ proposal.user.username }}</a>
                    </div>
                    <h2 class="article-title"><a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ proposal.user.profile.name }}</a></h2>
                  </div>
                </td>
              </tr>
            </table>
          </article>

      {% endfor %}
    </div>
  </body>
{% endblock content %}
