{% extends "matching/base.html" %}
{% load crispy_forms_tags %}
{% block content %}x
  <body>
    <div class="content-section">

          <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ rel.proposal.user.username }}</a>
                  </div>
                  <h2 class="article-title"><a class="mr-2" href="{% url 'proposal_home' proposal.id %}">{{ rel.proposal.user.profile.name }}</a></h2>

                </div>
            </article>


    </div>
  </body>
{% endblock content %}
